body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7) ),
     url(../images/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header h1{ font-size: 36px;}
.header p{ font-size: 20px;}
.form{ 
    width: 53vw;
    margin: auto;
    border-radius: 2px;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
    background-color: #232244;
}
.form label, .form p{
    color: #EDEDEF;
    font-size: 20px;
}
.form input[type=checkbox], input[type=radio]{
    width: 20px;
    height: 20px;
    margin-top: 6px;
}
.form textarea{
    border-radius: 0;
}
.form .btn{ 
    background-color: #37af65; 
    font-size: 16px;
}


@media(max-width:992px){
    .header p{ font-size: 19px;}
    .form{width: auto;}
}